@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins;
  }
}

@layer components {
  .max-w-app {
    @apply max-w-[550px] min-w-[400px];
  }

  .gradient-app {
    background: linear-gradient(
      103.85deg,
      rgba(199, 12, 12, 0.88) 3.04%,
      rgba(255, 67, 40, 0.88) 52.11%,
      rgba(255, 152, 100, 0.88) 94.83%
    );
  }

  .gradient-button {
    background: linear-gradient(126.36deg, #dc0000 13.74%, #ff8e4f 83.41%);
    @apply shadow-2xl;
  }

  .statistics-card-shadow {
    box-shadow: 0px 2px 13px 2px rgba(0, 0, 0, 0.17);
  }
}
